.img-fluid {
    max-width: 15%;
    float: left;
    margin: 0 20px 20px 0;
    min-width: 140px;
}

.card {
    float: left;
    width: 370px;
}

.card-img-top {
    height: 200px;
    
}

i.fab.fa-linkedin.fa-lg.nav-link {
    color: #0077b5
}

i.fab.fa-github-square.fa-lg.nav-link {
    color: #333
}