.img-fluid {
    max-width: 15%;
    float: left;
    margin: 0 20px 20px 0;
    min-width: 140px;
}

.card {
    float: left;
    width: 360px;
    padding: 10px;
    margin: 10px;
    text-align: center
}

.card-img-top {
    height: 200px;
    
}

i.fab.fa-linkedin.fa-lg.nav-link {
    color: #0077b5;
    background-color: white;
    margin: 8px;
    padding: 0;
    
}

i.fab.fa-github-square.fa-lg.nav-link {
    color: #333;
    background-color: white;
    margin: 8px;
    padding: 0;
}

nav.navbar {
    background-color: #328284;
    
}

.nav-link {
    color: white;
}

