.img-fluid {
    max-width: 15%;
    float: left;
    margin: 10px 20px 0px 0;
    min-width: 140px;
}

.card {
    float: left;
    width: 360px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #328284;
}

.card-img-top {
    height: 200px;
    
}

i.fab.fa-linkedin.fa-2x.nav-link {
    color: #333;
    background-color: #328284;
    margin: 8px;
    padding: 0;
     
}

i.fab.fa-github-square.fa-2x.nav-link {
    color: #333;
    background-color: #328284;
    margin: 8px;
    padding: 0;  
}

i.fas.fa-envelope-square.fa-2x.nav-link {
    color: #333;
    background-color: #328284;
    margin: 8px;
    padding: 0;
  
}

nav.navbar {
    background-color: #328284;
    
}

a.nav-link.navbar-light {
    color: #e9e7e9;
}

.jumbotron {
    background-color: #909095;
    color: #e9e7e9;

    height: 100vh
    
    }

.btn-primary {
    background-color: #4f3558;
    border-color: #4f3558;
    margin: 5px;
    color: #e9e7e9
}

.navbar-brand {
    color: #e9e7e9;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #328284;
    color: white;
    text-align: center;
    line-height: 1;

 }

 .container {
     font-size: x-large;
     background-color: #909095;
     margin-bottom: 49px;
 }


 
